.container{
    margin-bottom: 80px;
}
.carousel-inner{
    background-image: url(img/bg-1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 6%;
}
.carosel-p{
    text-align: justify;
    color: gray;
}
.carousel-indicators [data-bs-target]{
    background-color: gray;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    transition: all .3s ease;
}
.carosel-bg{
    background-image: url(img/bg-2.png);
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-size: 12%;
}
.buy-now-btn{
    border-radius: 8px;
    background-color: black;
    color: white;
    padding: 9px 25px;
    border: none;
}
.see-all{
    color: orange;
}
.card{
    padding: 30px 43px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    border: none;
}
.card-body{
    text-align: center;
}
.price{
    margin: 30px 0 13px 0;
}
.cat1{
    width: 13rem;
    padding: 60px 50px;
    border-radius: 0 25px 0 25px;
}
.cat2{
    width: 13rem;
    padding: 60px 50px;
    border-radius: 25px 0 25px 0;
}
.ct-h{
    text-align: center;
    margin: 180px 0 90px 0;
}
.cat2 +.cat2{
    margin-top: 25px;
}
footer{
    text-align: center;
    color: gray;
    padding: 20px 0;
}
